Hello {{ name }}!
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}

<pre>
    {{ dump(name) }}
</pre>

{{ render(controller('HeticSiteBundle:Default:response')) }}
