xtends 'HeticPublicBundle::layout.html.twig' %}

{% block body -%}
    Hello {{ name }}!
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <pre>
         {{ dump(name) }}
    </pre>

    {{ render(controller('HeticSiteBundle:Default:response')) }}

{% endblock %}
