{% extends '::base.html.twig' %}

{% block title %}Bienvenue au cours de SYmfony 2!{% endblock %}

{% block alert %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endblock %}
{#Stylesheets layout#}
{% block stylesheets %}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
{% endblock %}

{#Javascript layout#}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
{% endblock %}

