{% extends 'HeticPublicBundle::layout.html.twig' %}

{% block body %}

    <h3>Hello HETIC!</h3>
    <p>{{ message }}</p>
    <pre>
    {#{{ dump(message) }}#}
    </pre>

    <div class="jubotron">
        {% for post in posts %}
            <p>{{ post.title }}</p>
            <p>{{ post.description }}</p>
        {% endfor %}
    </div>

{% endblock %}
