{% extends 'HeticPublicBundle::layout.html.twig' %}

 {% block body %}

     <div class="jumbotron">
         <div class="alert alert-danger" role="alert">
             <h3>L'accès à cette page est interdis</h3>
         </div>
     </div>

 {% endblock %}
